.linearProgress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(6px);
}

.progressBar {
    width: 100%;
    height: 4px;
    background-color: var(--bg-secondary);
    overflow: hidden;
    border-bottom: 1px solid var(--border-color);
}

.progressBar__fill {
    height: 100%;
    background-color: var(--accent-color);
    animation: loading 1.4s infinite ease-in-out;
    will-change: transform;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
